* {
	user-select: none;
	-webkit-user-select: none;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: fixed;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #f0f0f0;
	touch-action: none;
}

.piano {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: red;
	flex-direction: column-reverse;
}

.white-key {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	flex-grow: 1;
	border: 1px solid black;

	display: flex;
	justify-content: end;
	align-items: center;
}

.white-key.active {
	background-color: rgb(230, 230, 230, 1.0);
}

.black-key {
	width: 50%;
	height: 4vh;
	background-color: black;
	position: relative;
	z-index: 1;
	margin: -2vh 0;

	display: flex;
	justify-content: end;
	align-items: center;
}

.black-key.active {
	background-color: rgb(40, 40, 40, 1.0);
}

.label {
	font-family: sans-serif;
	margin: 10px;
}

.black-key > .label {
	color: white;
}

.white-key > .label {
	color: black;
}
